body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.controls {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
}

.controls button {
  font-size: 3rem;
  padding: 25px 35px;
  border: none;
  border-radius: 50px;
  background: #333;
  color: white;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.controls button:active {
  transform: scale(0.95);
}
